<ul>
  <li>This doesn't need to login to the site.</li>
  <li>You can search a mobile phone by name.</li>
  <li>You also can  choose an mobile phone by brands.</li>
  <li>Or you can choose an item by category.</li>
  <li>After you find you mobile phone, you need login to make a purchase.</li>
</ul>
