<ul>
  <li>Register to became a member of the website.</li>
  <li>Login to the website.</li>
  <li>Choose a mobile phone you like</li>
  <li>Click "add to cart" button.</li>
  <li>Click "check out" in your cart.</li>
  <li>Fill in receiver details.</li>
  <li>Your mobile phone will be sent to you.</li>
</ul>
