<div id="site_contact">
  <p>If you have any queries, please don't hesitate to contact us:</p>


  <ul>
    <li>Customer services Number: 0870541655</li>
    <li>email address: mingyuan7725@gmail.com</li>
  </ul>


  <p>Or <u><a href='/questions/new'>click here</a></u> to leave your question, we'll contact you as soon as possible</p>
</div>
<div id="question_area"></div>
<br/><br/><br/>
<center>
  <div id="message"></div>
</center>

<script type="text/javascript" src="/assets/contact.js"></script>