<link href="/main.css" rel="stylesheet" type="text/css" />
<header>
  <h2>This Is A Plugin, Copyright Belongs to the Original Author | <a href="/items"><u>Back to Star Mobile store</u></a> | </h2>
</header>

<div class="container">
  <canvas id="scene" width="700" height="700" tabindex="1"></canvas>
</div>
<script src="/assets/oldjquery.js"></script>
<script src="/assets/plane.js"></script>